body{
		background-color: #162B3E;
}
.forum{
	margin-bottom: 6%;
	margin-top: 10%;


}
.textform{
	color: white;
}
.textform-1{
	color: white;
	font-size:20px;
	font-weight: bold;
	line-height: 29px;
	margin-top:15px;
	margin-left: 100px;
	word-spacing: -1px;
	text-align: right;
}
.formlogin{
	color:  #162B3E ;
	padding: 5% 5%;
	border-radius: 70px;
	background-color: white;
	height: 452px;
}
 .btn {
	background-color: grey;
}
